<div class="history">
	<div class="cd-timeline-header">
		<h2 id="Experenice">Experience</h2>
		<hr class="bar" />
	</div>
	<section id="cd-timeline" class="cd-container">
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="../assets/img/college.svg" alt="Picture" />
			</div>
			<!-- cd-timeline-img-->
			<div class="cd-timeline-content">
				<h2 class="story-heading">조선대학교 컴퓨터공학부</h2>
				<!--C, C++, JAVA, WINAPI32, Algorithm, Computer Architecture, INMOdded System 등 관련 지식 학습. New and Create 동아리 (N&C) 회장 역임. 창업동아리 연합회 회장 역임. 전자정보 공과대학 부회장 출마했으나 낙선.-->
				<p>2009년 입학.</p>
				<p>2009.09 ~ 2011.07 군생활</p>
				<p>2012 학술회 N&C 회장 역임</p>
				<p>- acm icpc 예비시험 1위</p>
				<p><a href="http://news1.kr/articles/?562484">- 창업아이디어 경진대회 대상 [link]<a></p>
				<p>2013 창업동아리 연합회 회장 역임</p>
				<p>2014 창업동아리 연합회 회장 역임</p>
				<p>2015 졸업</p> 
				<span class="cd-date">2009.3-2015.2</span>
			</div>
			<!-- cd-timeline-content-->
			<!-- cd-timeline-block--> 
		</div>
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-movie">
				<img src="../assets/img/idea14.svg" alt="College" />
			</div>
			<!-- cd-timeline-img-->
			<div class="cd-timeline-content">
				<h2>기술 경력</h2>
				<p>[진진컴퍼니] 2015.07 ~ </p>
				<p>1. Crawler 제작</p>
				<p> - Naver Crawler 제작. html 분석 및 저장하는 java window application.</p>
				<p> - 입력 : 엑셀 데이터</p>
				<p> - 출력 : 엑셀 저장, mysql 저장</p>
				<p> - 주 사용 API 및 라이브러리</p>
				<p>  - jsoup, POI</p>
				<p> - 개발 내용</p>
				<p>  - java window application.</p>
				<p>  - User가 Crawling 한 데이터를 분석하여 Excel에 저장함과 동시에 서버로 보냄.</p>
				<p>  - 서버[CentOS]의 DBMS[mysql]에 분석데이터 및 html 저장.</p>
				<p>				  </p>
				<p>2. 프로젝트 관리페이지 구축</p>
				<p> - extjs 를 이용한 웹페이지</p>
				<p> - 사원관리, 프로젝트관리 등 기존 시스템 효율적으로 이용하게 제작.</p>
				<p>				</p>
				<p>3. 서버 구축</p>				
				<p>- 파일서버 구축 [ owncloud 사용 ]</p>
				<p>- 방화벽 관리 [ fail2ban 설정 ]</p>
				<p>- 방화벽 관리 [ 포트 관리 ]</p>
				<p>- 이슈관리 시스템 구축 [ bugzilla ]</p>
				<p>- 웹서버 / WAS 구축 [ nginx / jetty ]</p>
				<p>-- 리버스프록시 설정 등.</p>
				<p>- 메일서버 구축</p>
				<p>-- white domain 등록 / postfix, imap 연동, owncloud 앱 연동 등</p>
				<span class="cd-date">2015.07-</span>
			</div>
			<!-- cd-timeline-content-->
			<!-- cd-timeline-block-->
		</div>
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="../assets/img/web-programming.svg" alt="Picture" />
			</div>
			<!-- cd-timeline-img-->
			<div class="cd-timeline-content">
				<h2>개발자로서의 역량</h2>
				<p>정리중인 블로그 : <a href="http://blog.naver.com/sunhongyi">http://blog.naver.com/sunhongyi</a></p>
				<span class="cd-date">~</span>
			</div>
			<!-- cd-timeline-content-->
			<!-- cd-timeline-block-->
		</div>
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
				<img src="../assets/img/graduate38.svg" alt="Location" />
			</div>
			<!-- cd-timeline-img-->
			<div class="cd-timeline-content">
				<h2>학부시절 개발</h2>
				<p>1. 오델로</p>
				<p>- java 기반 1인프로젝트</p>
				<p>- 노가다... 1학년 2학기 취미 프로젝트</p>
				<p>- 예외처리 미흡 </p>
				<p> </p>
				<p>2. 실내 온도관리 시스템</p>
				<p>- atmega128, 온도센서, 변압기 사용 등</p>
				<p>- 2학년 1학기 방학 취미 프로젝트</p>
				<p>- c기반 1인 프로젝트 </p>
				<p>- 변압기 사용 실패에 미흡 </p>
				<p> </p>
				<p>3. 비행기게임</p>
				<p>- dubble buffering, 멀티스레딩 등 </p>
				<p>- WIN32API 기반 2인 프로젝트</p>
				<p>- 2학년 2학기 방학 취미 프로젝트</p>
				<p>- 프로젝트 파일 복구중 성공적, 하지만 테스트 케이스 부족 </p>
				<p> </p>
				<p>4. 자전거 네비게이션</p>
				<p>- atmega128, 시리얼통신, 진동모터 사용, naver map api 사용, 안드로이드 개발 등</p>
				<p>- 4학년 졸작</p>
				<p> </p>
				<span class="cd-date">2009.3-2015.2</span>
			</div>
			<!-- cd-timeline-content-->
			<!-- cd-timeline-block-->
		</div>
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
				<img src="../assets/img/hosting.svg" alt="Location" />
			</div>
			<!-- cd-timeline-img-->
			<div class="cd-timeline-content">
				<h2>개인개발 진행중 프로젝트</h2>
				<p>Angular Project Site : <a href="http://sunhong.xyz">http://sunhong.xyz</a></p>
				<p>마시자 프로젝트</p>
				<span class="cd-date">2015 - Current</span>
			</div>
			<!-- cd-timeline-content-->
			<!-- cd-timeline-block-->
			<div class="cd-timeline-block">
				<div class="cd-timeline-img cd-location">
					<img src="../assets/img/question30.svg" alt="Location" />
				</div>
			</div>
			<!-- cd-timeline-->
		</div>
	</section>
	<div class="cd-timeline-header">
		<h2></h2>
	</div>
</div>