<div class="history">
	<div class="cd-timeline-header">
		<h2 id="Experenice">Experience</h2>
		<hr class="bar" />
	</div>
	<section id="cd-timeline" class="cd-container">
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="../assets/img/college.svg" alt="Picture" />
			</div>
			<!-- cd-timeline-img-->
			<div class="cd-timeline-content">
				<h2 class="story-heading">조선대학교 컴퓨터공학부 졸업</h2>
				<P><!--C, C++, JAVA, WINAPI32, Algorithm, Computer Architecture, INMOdded System 등 관련 지식 학습. New and Create 동아리 (N&C) 회장 역임. 창업동아리 연합회 회장 역임. 전자정보 공과대학 부회장 출마했으나 낙선.-->
				학부시절 내용
				</P>
				<span class="cd-date">2009.3-2015.2</span>
			</div>
			<!-- cd-timeline-content-->
			<!-- cd-timeline-block-->
		</div>
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-movie">
				<img src="../assets/img/idea14.svg" alt="College" />
			</div>
			<!-- cd-timeline-img-->
			<div class="cd-timeline-content">
				<h2>기술 경력</h2>
				<p>기술경력 내용</p>
				<span class="cd-date">2015.07-</span>
			</div>
			<!-- cd-timeline-content-->
			<!-- cd-timeline-block-->
		</div>
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="../assets/img/web-programming.svg" alt="Picture" />
			</div>
			<!-- cd-timeline-img-->
			<div class="cd-timeline-content">
				<h2>개발자로서의 역량</h2>
				<p>개발자로서의 역량</p>
				<span class="cd-date">~</span>
			</div>
			<!-- cd-timeline-content-->
			<!-- cd-timeline-block-->
		</div>
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
				<img src="../assets/img/graduate38.svg" alt="Location" />
			</div>
			<!-- cd-timeline-img-->
			<div class="cd-timeline-content">
				<h2>학부시절 개발</h2>
				<p>술 똥 개발</p>
				<span class="cd-date">2009.3-2015.2</span>
			</div>
			<!-- cd-timeline-content-->
			<!-- cd-timeline-block-->
		</div>
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
				<img src="../assets/img/hosting.svg" alt="Location" />
			</div>
			<!-- cd-timeline-img-->
			<div class="cd-timeline-content">
				<h2>개인개발 진행중 프로젝트</h2>
				<p>마시자 프로젝트</p>
				<span class="cd-date">2015 - Current</span>
			</div>
			<!-- cd-timeline-content-->
			<!-- cd-timeline-block-->
			<div class="cd-timeline-block">
				<div class="cd-timeline-img cd-location">
					<img src="../assets/img/question30.svg" alt="Location" />
				</div>
			</div>
			<!-- cd-timeline-->
		</div>
	</section>
	<div class="cd-timeline-header">
		<h2></h2>
	</div>
</div>